<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book your Break! </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <!-- tampilan mobile -->
    <div class="menumob">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logomob">Book your break</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="">Home</a></li>
            <li class="navitemsmob"><a href="#">Favorite</a></li>
            <li class="navitemsmob"><a target="_blank" href="https://github.com/faurelgema">About us</a></li>
        </ul>
    </nav>
    <!-- tampilan web -->
    <nav class="nav">
        <a class="logo" href="">Book your Break</a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://github.com/faurelgema">About us</a></li>
        </ul>
    </nav>
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Book your Break</h1>
            <p class="herosubtitle">Mager ngantri dan nunggu lama? Dibooking aja dulu.</p>
        </div>
    </div>                                                                                                                                                                                                                                                                                                                          
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Jelajah Resto                                                               </h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2020 - Book your Break! </p>
    </footer>
</body>
</html>

